* {
    margin: 0;
}
body {
    background-color: #256D85;
/*    border: 1px solid #FFC23C;*/
    margin: auto;
}
h1, h5 {
    text-align: center;
    color: #8FE3CF;
}
.all {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    margin: 200px auto;
    text-align: center;
    height: 200px;
}
.all div div {
    background-color: #002B5B;
    width: 80px;
    height: 80px;
    margin: auto;
    text-align: center;
}
.one {
    animation-name: down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: linear;
    animation-delay: 0s;
}
.two {
    animation-name: up;
    animation-duration: 2s;
    animation-direction: linear;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
@keyframes down {
    33% {
        transform: translateY(50px);
    }
    66% {
        transform: translateY(-50px);
    }
}
@keyframes up {
    33% {
        transform: translateY(-50px);
    }
    66% {
        transform: translateY(50px);
    }
}
#days, #hours, #mins, #seconds {
    color: #8FE3CF;
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
}
.finished {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: #8FE3CF;
    margin-bottom: 120px;
    animation-name: finale;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 5s;
    font-family: cursive;
}
@keyframes finale {
    25% {
        transform: scale(0.4);
        transform: rotate(360deg);
        color: black;
    }
    100% {
        transform: scale(1.2);
        transform: rotate(0deg);
    }
}
