* {
    margin: 0;
}
body {
    background-color: ghostwhite;
    margin: 350px auto;
    display: block;
    vertical-align: middle;
}
.frame{
    width: 900px;
    height: 500px;
   background-color: #2b2d42;
    margin: auto auto;
}
.band, #band{
    background-color: #FFB703/**/;
    height: 30px;
}
#band{
    margin-top: 40px;
}
.count{
    font-weight: 700;
    margin: 20px 0 30px 20px;
    font-size: 20px;
    color: #8D99AE;
    font-family: 'Roboto Mono', monospace;
}
.welcome{
    text-align: center;
    font-size: 37px;
    font-weight: 600;
    color: #D90429;
}
.d-day{
    font-size: 30px;
    color: #8D99AE;
    text-align: center;
    margin-bottom: 80px;
    font-family: 'Roboto Mono', monospace;
}
#data{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2px;
    row-gap: 2px;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    line-height: 35px;
}
#days, #hours, #mins, #seconds{
    font-size: 60px;
    font-weight: 900;
    color: #D90429;
}
.name{
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 105px;
    color: #EDF2F4;
}
.finished{
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    color: #FB8500;
    animation-name: finale;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-delay: 2s;
    font-family: cursive;
}
@keyframes finale {
    25% {
        transform: scale(0.4);
        color: white;
    }
    60% {
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
}










/*
.main{
    background-color: darkgreen;
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
}
.middle{
    background-color: lightgreen;
    width: 550px;
    height: 300px;
    z-index: 14;
    position: absolute;
}
